body { 
  background-image: url("https://media.npr.org/assets/img/2015/03/31/stars-d1900fc64ba48ac3633054f03a7864aa601973f3-s1600-c85.webp"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.post{ 
  background-image: linear-gradient(rgb(196, 199, 180), rgb(211, 211, 142)); 
  margin-top: 100px;  
  margin: 100px auto;
  padding: 5px;
  align-items: center;
  width: 55em;  
  border-radius: 7%; 
  color: rgb(58, 57, 57);
} 

button { 
  width: 7em; 
  height: 3em; 
  border-radius: 10%; 
} 

button:hover{ 
  background-color: rgb(67, 149, 255); 
  color:rgb(255, 255, 255);
}

.title{ 
  text-align: center;
  color:rgb(228, 243, 255); 
  font-size: 100px;
}  

.byline{ 
  text-align: center; 
  color:rgb(206, 217, 226);  
  font-size: 20px;
}

.photo-summary{ 
  text-align: center;  
  margin-bottom: 2.5em;

} 

img{ 
  max-width:95%; 
  height: 30em;
  border: 3px solid rgb(249, 250, 194);
  border-radius: 7%;  
  margin-top: 1em;
}

