body { 
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Hyades.jpg"); 
  /* background-size: cover; */
  /* background-image: linear-gradient(rgb(39, 39, 37), rgb(27, 27, 25)); */
}

.post{ 
  background-image: linear-gradient(rgb(196, 199, 180), rgb(211, 211, 142)); 
  /* margin-top: 100px;   */
  margin: 100px auto;
  padding: 5px;
  align-items: center;
  width: 55em;  
  /* border-radius: 7%;  */
  color: rgb(58, 57, 57);
} 

button { 
  width: 7em; 
  height: 3em; 
  border-radius: 10%; 
} 

button:hover{ 
  background-color: rgb(67, 149, 255); 
  color:rgb(255, 255, 255);
} 

.likeButton.remove_from_liked{ 
  background-color: rgb(52, 211, 214);
} 

.img.remove_from_liked{ 
  border: 3px solid rgb(52, 211, 214);
}

.title{ 
  text-align: center;
  color:rgb(228, 243, 255); 
  font-size: 100px;
}  

.byline{ 
  text-align: center; 
  color:rgb(206, 217, 226);  
  font-size: 20px;
}

.photo-summary{ 
  text-align: center;  
  margin-bottom: 2.5em;
} 

img{ 
  max-width:95%; 
  height: 30em;
  border: 3px solid rgb(249, 250, 194);
  /* border-radius: 7%;   */
  margin-top: 1em;
}

a{ 
  text-decoration: none; 
  color: antiquewhite;
}